.divUser {
    margin-left: 50%;
    margin-top: 15%;
    width: 500px;
    height: 410px;
    border: 5px solid grey;
    text-align: center;
}

.form-control{
    width:75%;
    margin-left:12.5%;
}